{% extends "components/master_layout.html" %}

{% block content %}
<div class="container align-items-center justify-content-center min-vh-100 pt-4">
    <div class="row">
        <div class="col-md-12">
            <!-- First column content -->
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h1>Fish Ponds</h1>
                    </div>
                    <ul>
                        {% for pond in ponds %}
                        <li>
                            <a href="/smart_cultivation_system/pond/{{ pond.pond_id }}">Fish Pond ID: {{ pond.pond_id }} - {{
                                pond.pond_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alert alert-warning mt-4">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}